@page
@model IndexModel
@{
    ViewData["Title"] = "Savonia x Weldcube";


}
<div class="container">
    <div class="cmd">
        <div class="navikointi">
            <button onclick="location.href='/?handler=OnGet'"><img src="/images/updateButton.png"></button>

            <a href="#error"><button><img src="/images/errorButton.png"></button></a>
            <a href="#success"><button><img src="/images/succsessButton.png"></button></a>
        </div>
        <div class="counts">
            @if (@Model.SuccessList.Count >=1)
             {
                    <p class="onnistuicount">@Model.SuccessList.Count</p>
             }

            @if (@Model.ErrorsList.Count >= 1)
            {
                <p class="errorcount">@Model.ErrorsList.Count</p>
            }
        </div>
    </div>
    <div class="cmd" id="error">
        <h1>Welding error</h1>

        <table>
            <thead>
                <tr>
                    <th>ROW</th>
                    <th><img src="/images/id.png"></th>
                    <th><img src="/images/date.png"></th>
                    <th><img src="/images/time.png"></th>
                    <th><img src="/images/value.png"></th>
                    <th><img src="/images/violation.png"></th>
                    <th>STATE</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>*@
                @foreach (var item in Model.ErrorsList)
                {
                    <tr>
                        <td>@item.Row</td>
                        <td>@item.Id</td>
                        <td>@item.Date</td>
                        <td>@item.Time</td>
                        <td>@item.Valuetype</td>
                        <td>@item.ViolationType</td>
                        <td>@item.State</td>
                    </tr>


                }
            </tbody>

        </table>

        @if (@Model.errorloki.Count >= 1)
        {
            <h1>system error</h1>
            <div class="system">
                @foreach (var item2 in Model.errorloki)
                {
                    <p class="error">@item2</p>
                }
            </div>
        }

    </div>

    <div class="cmd" id="success">
        <h1>Welding success</h1>

        <table>
            <thead>
                <tr>
                    <th>ROW</th>
                    <th><img src="/images/id.png"></th>
                    <th><img src="/images/date.png"></th>
                    <th><img src="/images/time.png"></th>
                    <th>State</th>
                    @*<th><img src="/images/value.png"></th>
                    <th><img src="/images/violation.png"></th>*@
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>*@
                @foreach (var item in Model.SuccessList)
                {
                    <tr>
                        <td>@item.Row</td>
                        <td>@item.Id</td>
                        <td>@item.Date</td>
                        <td>@item.Time</td>
                        <td>@item.State</td>
                    </tr>


                }
            </tbody>

        </table>
        @if (@Model.onnistumisloki.Count >=1)
        {
            <h1>system success</h1>

            <div class="system">
                @foreach (var item in Model.onnistumisloki)
                {

                    <p class="onnistui">@item</p>

                }
            </div>
        }

    </div>


</div>
<h5>© Savonian Kumipojat 2023</h5>


